.characters {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.c-characters-detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 52px;

  &__img {
    max-width: 100%;
    height: 320px;
  }

  &__caption {
    margin-top: 30px;
    font-size: 20px;
    color: #ffffff;
  }
}

.character-live-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &__box {
    width: 248px;
    display: flex;
    flex-direction: column;
  }

  &__list {
    margin-top: 49px;
    height: 231px;
    text-decoration: none;
  }

  &__list p {
    font-family: lato;
    font-size: 12px;
    margin-bottom: 16px;
  }

  &__img img {
    margin-top: 49px;
    margin-bottom: 16px;
    width: 248px;
    height: 231px;
    object-fit: contain;
  }
}
