.c-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 0px;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.c-menu-bottom {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;

  &__link {
    padding: 20px;
    color: #ffffff;
    
    
    
  }
}
