.c-backgroundImg {
    display: flex;
    width: 100%;
    min-height: 1200px;
    background-image: url(../../assets/img/ironthrone_homepage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    background-position: center;
  
    &__caption {
      display: flex;
      text-align: center;
      align-items: center;
      width: 100%;
      height: 172px;
      font-family: "GameofThrones";
      font-size: 150px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 150px;
      letter-spacing: normal;
      color: #ffffff;
      position: fixed;
      top: 18rem;
      
    }
  
}
  